body {
	background-color: #032045;
	background-image: url(Midland1.png);
	background-attachment: fixed;
 	background-repeat: no-repeat;
 	background-size: cover;
	font-family: Verdana;
	

}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 600px;


}

.section-one {
	color: lightcyan;
	font-size: 50px;
	

}

.section-two {
	color: lightcyan;



}

.section-three {



}

.el2{
  	border-radius: 10%;
	background-image: url(Mark.jpg);
	background-repeat: no-repeat;
 	background-size: cover;
	height: 400px;
	width: 300px;


}

.el3{
  	border-radius: 10%;
	background-image: url(Cameron.jpg);
	background-repeat: no-repeat;
 	background-size: cover;
	height: 400px;
	width: 300px;


}

.el4{
  	border-radius: 10%;
	background-image: url(Jess.jpg);
	background-repeat: no-repeat;
 	background-size: cover;
 	position: absolute;
	height: 400px;
	width: 300px;


}

.section-two {
	color: lightcyan;
	margin-top: -65px;
	font-size: 100px;


}






.section-four {
	color: lightblue;
	background-color: #0C4591;
	margin-top: 100px;
	margin-bottom: 75px;


}
